
@{
    ViewBag.Title = "Index";
}


<h2>
    Products
</h2>
@foreach (string item in ViewBag.products)
{
    @*<li><a href="/products/details/{@item}">@item</a></h2></li>*@
    <li>
        <a href="@Url.Action("Details", "Products", new { product = @item })">@item </a></li>
        }
